 @include border-box-sizing;

html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 8px;

  @include breakpoint($medium) {
    font-size: 10px;
  }

  -webkit-text-size-adjust: 80%;
  -ms-text-size-adjust: 80%;
}